﻿@using Rusal.Frontend.MVC.Models;

@model SingInModel

@section NavBar {
    @Html.ActionLink("Регистрация", "New", "SingIn", null, new { @class = "btn btn-light" })
}

<header class="content-title m-0">
    <h2 class="h2 text-center">
        <span class="">Авторизация</span>
    </h2>
    <hr class="my-5">
</header>
<div>
    @using (Html.BeginForm("Index", "SingIn", FormMethod.Post, new { @class = "container" }))
    {
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Логин</span>
            </label>
            <div class="col-8">
                @Html.TextBoxFor(m => m.Login, string.Empty, new { @class = "form-control", @placeholder = "Логин", @required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Пароль</span>
            </label>
            <div class="col-8">
                @Html.TextBoxFor(m => m.Password, string.Empty, new { @class = "form-control", @placeholder = "Пароль", @required = "required", type = "password" })
            </div>
        </div>
        @if (Model != null && !Model.IsSuccess)
        {
            <div class="row danger col-auto offset-4">
                <span>Неверный логин или пароль</span>
            </div>
        }
        <hr class="my-5">
        <div class="row">
            <div class="col-auto offset-4">
                <button type="submit" class="btn btn-primary mr-3"><span>Вход</span></button>
            </div>
        </div>
    }
</div>