﻿@using Rusal.Frontend.Users;
@using Rusal.Frontend.MVC.Models;
@using Newtonsoft.Json;

@model UserModel

@section NavBar {
    @Html.ActionLink("Вход", "Index", "SingIn", null, new { @class = "btn btn-light" })
}

<header class="content-title m-0">
    <h2 class="h2 text-center">
        <span class="">Регистрация</span>
    </h2>
    <hr class="my-5">
</header>
<div>
    @using (Html.BeginForm("New", "SingIn", FormMethod.Post, new { @class = "container" }))
    {
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Имя</span>
            </label>
            <div class="col-8">
                @Html.TextBoxFor(m => m.FirstName, string.Empty, new { @class = "form-control", @placeholder = "Имя", @required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Фамилия</span>
            </label>
            <div class="col-8">
                @Html.TextBoxFor(m => m.LastName, string.Empty, new { @class = "form-control", @placeholder = "Фамилия", @required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Дата рождения</span>
            </label>
            <div class="col-8">
                @Html.TextBoxFor(m => m.Date, string.Empty, new { @class = "form-control", @placeholder = "Дата рождения" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Телефон</span>
            </label>
            <div class="col-8">
                @Html.TextBoxFor(m => m.Phone, string.Empty, new { @class = "form-control", @placeholder = "Телефон", @required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Какой цвет вам больше нравится?</span>
            </label>
            <div class="col-8">
                @Html.ListBoxFor(m => m.PreferredColors,
                new List<SelectListItem>
                    {
                        new SelectListItem {
                            Text="Синий",
                            Value=Colors.Blue
                        },
                        new SelectListItem {
                            Text="Желтый",
                            Value=Colors.Yellow
                        },
                        new SelectListItem {
                            Text="Красный",
                            Value=Colors.Red
                        }
                    },
                    new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Какой напиток вы предпочитаете?</span>
            </label>
            <div class="col-8">
                @Html.ListBoxFor(m => m.PreferredDrinks,
                new List<SelectListItem>
                    {
                        new SelectListItem{
                            Text="Чай",
                            Value=Drinks.Tea
                        },
                        new SelectListItem{
                            Text="Кофе",
                            Value=Drinks.Coffee
                        },
                        new SelectListItem{
                            Text="Сок",
                            Value=Drinks.Juice
                        },
                        new SelectListItem{
                            Text="Вода",
                            Value=Drinks.Water
                        }
                    },
                    new { @class = "form-control" })
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-auto offset-4">
                <button type="submit" class="btn btn-primary mr-3"><span>Отправить</span></button>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $('select').selectpicker({
            dropupAuto: false
        });

        $(document).ready(function () {
            $('#Date').mask('00.00.0000');
            $('#Phone').mask('+70000000000');
        });
    </script>
}