﻿@using Rusal.Frontend.Users;
@using Rusal.Frontend.MVC.Models;

@model UserListModel

@section NavBar {
    @Html.ActionLink("Выход", "LogOut", "SingIn", null, new { @class = "btn btn-light" })
}

<header class="content-title m-0">
    <h2 class="h2 text-center">
        <span class="">Пользователи</span>
    </h2>
    <hr class="my-5">
</header>
<div>
    @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { @class = "container" }))
    {
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Какой цвет вам больше нравится?</span>
            </label>
            <div class="col-8">
                @Html.DropDownListFor(m => m.Filters.PreferredColor,
                new List<SelectListItem>
                    {
                        new SelectListItem{
                            Text=string.Empty,
                            Value=null
                        },
                        new SelectListItem {
                            Text="Синий",
                            Value=Colors.Blue
                        },
                        new SelectListItem {
                            Text="Желтый",
                            Value=Colors.Yellow
                        },
                        new SelectListItem {
                            Text="Красный",
                            Value=Colors.Red
                        }
                    },
                    new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">
                <span>Какой напиток вы предпочитаете?</span>
            </label>
            <div class="col-8">
                @Html.DropDownListFor(m => m.Filters.PreferredDrink,
                new List<SelectListItem>
                    {
                        new SelectListItem{
                            Text=string.Empty,
                            Value=null
                        },
                        new SelectListItem{
                            Text="Чай",
                            Value=Drinks.Tea
                        },
                        new SelectListItem{
                            Text="Кофе",
                            Value=Drinks.Coffee
                        },
                        new SelectListItem{
                            Text="Сок",
                            Value=Drinks.Juice
                        },
                        new SelectListItem{
                            Text="Вода",
                            Value=Drinks.Water
                        }
                    },
                    new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-auto offset-4">
                <button type="submit" class="btn btn-primary mr-3"><span>Найти</span></button>
            </div>
        </div>
        <hr class="my-5">
    }

    <table class="table table-bordered container">
        <thead>
            <tr>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Дата рождения</td>
                <td>Телефон</td>
                <td>Предпочитаемые цвета</td>
                <td>Предпочитаемые напитки</td>
            </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Date</td>
                <td>@user.Phone</td>
                @if (user.PreferredColors == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@string.Join(", ", user.PreferredColors)</td>
                }
                @if (user.PreferredDrinks == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@string.Join(", ", user.PreferredDrinks)</td>
                }
            </tr>
        }
    </table>
</div>

@section scripts {
    <script>
        $('select').selectpicker({
            dropupAuto: false
        });
    </script>
}